//
// Variables

// size
$-window-width: 1080px;

// color
$-color-black: #000000;
$-color-red: #ff0000;

// font-size
$-font-size-normal: 14px;
$-font-size-large: 18px;

// border
$-border-normal: 1px solid #c8c8c8;

// z-index
$-layer-herder: 99;
$-layer-search-panels: 100;
